@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Noto+Sans:wght@300&display=swap');
body{
  background-color: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Noto Sans', sans-serif;
}

nav img{
    object-fit: contain;
}
nav ul{
    top: 0;
    display: flex;
    background-image: url('background3.jpg');
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: bolder;
    height: 80px;
}
nav ul a{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
  text-decoration: none;
}
div .look{
    width: 35px;
    height: 5px;
    background-color: black;
    color: white;
    margin: 6px 0;
  }
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    width: 120px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: inline-block;
  }
  .dropdown-content a {
    display: block;
    background-image: url('background2.webp');
    background-color: black;
    color: white;
    padding: 5px;
    padding-right: 90px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: white;
    background-color:black;
  }  
.container{
    color: white;
    min-height: 10vh;
    /* background-image: url('background.jpg'); */
    /* background-image: url('photo.jpg'); */
    background-image: url('baggy.jpg');
    margin: 3px 0;
    width: 100%;
    padding: 1px;
}
.bottom{
    position: sticky;
    height: 120px;
    background-image: url('music3.webp');
    /* background-color: black; */
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
  margin: 20px 0;
}
.icons i{
  cursor: pointer;
}
#durationbar{
    width: 30vw;
    cursor: pointer;
    
}
#volume{
  width: 5vw;
  cursor: pointer;
}
#sound{
  cursor: pointer;
}
.songlists{
  display: flex;
  background-image: url('spotifylove.jpg'); 
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 10px 90px;
  height: 120px;

}
.recently{
  display: flex;
  background-image: url('spotifylove.jpg'); 
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 140px 90px;
  height: 120px;
}
.evergreen{
  display: flex;
  color: white;
  text-decoration: none;
  background-image: url('spotifylove.jpg'); 
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 140px 90px;
  height: 120px;
}